
  @import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

body{
    padding: 0 0 0 0 ;
    margin:0 0 0 0 ;
    display: flex;
    font-family: 'REM', sans-serif;
}
#sidebar{
    min-width: 30%;
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1517466787929-bc90951d0974?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=686&q=80");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10%;
    flex: 1 1 auto;
    font-size: 50px;
    color: yellow;
    font-weight: bold;
}
#logo{

}
#content{
    display: flex;
    flex-direction: column;
    min-width: 60%;
    padding: 0;
    margin: 0;
}
#text{
    background-color: #A50044;
    font-size: 36px;
    min-height: 31.7vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
}
#form-wrapper{
    background-color: #A50044;
    min-height: 35vh;
}
#form{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.elements{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    padding: 10px 10px 10px 35px;
    gap: 6px;
}
#accountInfo{
    background-color: #004D98;
    min-height: 20vh;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-start;
    gap: 25px;
    padding-left: 35px;
    padding-top: 30px;
}
button{
    max-width: 25%;
    font-size: 1.5rem;
    background-color: #A50044;

    
}
a{
    color: white;
}
